@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3498db; /* A medium blue */
  --primary-color-dark: #2980b9; /* A darker blue */
  --text-dark: #2e2e2e;
  --text-light: #595959;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-dark);
  text-align: center; /* Center text */
  margin-bottom: 2rem;
}

.section__subheader {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-align: center; /* Center text */
  margin-bottom: 0.5rem;
}

/* ABOUT DESKRIPSI */
.section__description {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--text-light);
  text-align: justify; 
  padding: 1rem;
  margin-bottom: 2rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .section__description {
    font-size: 0.875rem; /* Slightly smaller for tablets */
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .section__description {
    font-size: 0.75rem; /* Smaller for mobile devices */
    line-height: 1.5rem;
    padding: 0.75rem; /* Adjust padding for small screens */
  }
}

@media (max-width: 480px) {
  .section__description {
    font-size: 0.7rem; /* Compact size for small mobile devices */
    line-height: 1.4rem;
    padding: 0.5rem; /* Minimal padding for small mobile screens */
    margin-bottom: 1.5rem;
  }
}
/* END */

/* ABOUT DESKRIPSI */
.section__description2 {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--text-light);
  text-align:left 
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .section__description2 {
    font-size: 0.875rem; /* Slightly smaller for tablets */
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .section__description2 {
    font-size: 0.75rem; /* Smaller for mobile devices */
    line-height: 1.5rem;
    padding: 0.75rem; /* Adjust padding for small screens */
  }
}

@media (max-width: 480px) {
  .section__description2 {
    font-size: 0.7rem; /* Compact size for small mobile devices */
    line-height: 1.4rem;
    padding: 0.5rem; /* Minimal padding for small mobile screens */
    margin-bottom: 1.5rem;
  }
}
/* END */

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  white-space: nowrap;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(
    to bottom,
    rgba(52, 152, 219, 0.1),
    /* A light blue */ rgba(52, 152, 219, 0) /* Fully transparent blue */
  );
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .section__subheader {
    font-size: 0.875rem; /* Slightly smaller for tablets */
  }

  .section__header {
    font-size: 2.5rem; /* Reduce for medium screens */
  }
}

@media (max-width: 768px) {
  .section__subheader {
    font-size: 0.75rem; /* Smaller for small tablets */
  }

  .section__header {
    font-size: 2rem; /* More compact for mobile devices */
  }
}

@media (max-width: 480px) {
  .section__subheader {
    font-size: 0.7rem; /* Adjust for small mobile devices */
  }

  .section__header {
    font-size: 1.5rem; /* Compact size for small mobile screens */
    margin-bottom: 1.5rem;
  }
}

/* WA BUTTON */
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
}
/* END */

/* HEADER  */
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  max-width: 35px;
}

.nav__logo span {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__links .btn:hover {
  background-color: var(--primary-color);
}

.nav__btns {
  display: none;
}
/* HEADER END */



/* FOOTER */
.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__logo img {
  max-width: 40px;
}

.footer__logo span {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__col .section__description {
  max-width: 350px;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.footer__socials a:hover {
  color: var(--primary-color-dark);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.6rem;
  color: var(--text-light);
  text-align: center;
}

.footer__halal-logo {
  position: relative;
  top: 3rem; /* Adjust distance from the top */
  right: 0rem; /* Adjust distance from the right */
  max-width: 120px; /* Adjust max width to reduce size */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) { /* Tablet view */
  .footer__halal-logo {
    max-width: 120px; /* Reduce the size for tablet screens */
    top: 0.5rem; /* Adjust top distance */
    top: -4rem;
  }
}

@media (max-width: 480px) { /* Mobile view */
  .footer__halal-logo {
    max-width: 100px; /* Reduce size further for mobile */
    top: -5rem;
    right: 0; /* Ensure it stays aligned correctly */
  }
}


@media (width > 540px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 40px;
  }

  .nav__logo span {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .nav__btns {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__tag {
    margin-inline-start: unset;
  }

  .header__content :is(h1, .section__description) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .download__container .section__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .download__image {
    grid-area: 1/2/2/3;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
  }
}
/* FOOTER END */


/* Contact */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --formBg: #ffffff;
  --bodyBg: #f8f9fa;
  --textColor: #000000;
  --primaryColor: #3498db;
  --paraColor: #5e6c79;
  --paraColor: #74828f;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--textColor);
  background: var(--bodyBg);
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
  margin: auto;
}
.sectionHeader,
.heading,
.para {
  text-align: center;
}

.sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: 0.5em;
  margin-top: 10rem;
}

.heading,
.sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.heading {
  font-size: 2.5em;
}

.sub-heading {
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 3em;
}

form {
  width: 100%;
  margin-top: 3em;
}

.para {
  color: var(--paraColor);
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2 {
  text-align: left;
}

.input {
  width: 95%;
  max-width: 700px;
  border: none; /* Hilangkan border */
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: var(--formBg);
  color: var(--paraColor);
  border-radius: 10px;
  margin-bottom: 1em;

  /* Tambahkan shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sesuaikan opacity untuk intensitas */
}

.input:focus {
  box-shadow: 0px 4px 12px rgba(0, 123, 255, 0.3); /* Shadow yang lebih intens saat fokus */
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.input::placeholder {
  text-transform: capitalize;
}

.submit {
  background-color: var(--primaryColor);
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  width: 95%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.mapBg {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
  margin-bottom: 5rem;
}

.method {
  display: flex;
  align-items: center;
}

.contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

@media (max-width: 768px) {
  .map-container {
    height: auto;
    padding-top: 100%; /* Maintain a square aspect ratio */
  }

  .map {
    width: 100%;
    height: 100%; /* Full height and width of its container */
    top: 0;
    left: 0;
    border-radius: 20; /* Remove the border-radius if not needed */
  }

  .map iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 800px) {
  section {
    max-width: 1100px;
  }
  .contactForm {
    grid-template-columns: 1fr 1fr;
  }
  .contactMethod {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* CONTACT END */


/* FLOATING */
.floating-wpp {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  transition: bottom 0.2s;
}

.floating-wpp .floating-wpp-button {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
  transition: box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  position: absolute;
  width: 90%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}

.floating-wpp:hover {
  bottom: 17px;
}

.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
  /*border: 2px solid white;*/
  border-radius: 6px;
  background-color: #E5DDD5;
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  width: 0px;
  height: 0px;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
  transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 12px 12px;
  width: 260px;
  height: auto;
  bottom: 82px;
  opacity: 1;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: white;
  padding: 8px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
  text-align: right;
  color: white;
  margin: 0 -15px 10px -15px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
  background-color: white;
  margin: 10px -15px -15px -15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.floating-wpp .floating-wpp-btn-send {
  margin-left: 12px;
  font-size: 0;
  cursor: pointer;
}
/* END */


/* TOP BUTTON*/
#button {
  display: inline-block;

  width: 50px;
  height: 50px;
  line-height:60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}

#button i{
  font-size:32px;
  color:#3498db;
}

#button.show {
  opacity: 1;
}






